{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card shadow p-4 rounded" style="max-width: 600px; background-color: #f8f9fa;">
      <h2 class="h4 mb-4 text-success text-center" style="font-family: 'Roboto', sans-serif;">Detalles de la Entrega</h2>
      <p class="mb-3"><strong>Estudiante:</strong> {{ entrega.estudiante.first_name }} {{ entrega.estudiante.last_name }}</p>
      <p class="mb-3"><strong>Fecha de entrega:</strong> {{ entrega.fecha_entrega }}</p>
      <p class="mb-3"><strong>Comentarios:</strong> {{ entrega.comentarios }}</p>
    
      {% if entrega.archivos_adjuntos %}
        <p class="mb-3"><strong>Archivos Adjuntos:</strong> <a href="{{ entrega.archivos_adjuntos.url }}" target="_blank">Ver Archivo Adjunto</a></p>
      {% else %}
        <p class="mb-3"><strong>No se adjuntaron archivos.</strong></p>
      {% endif %}

      <form method="post" action="{% url 'detalle_entrega' entrega_id=entrega.id %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.calificacion.id_for_label }}" class="form-label">Calificación:</label>
          {{ form.calificacion }}
        </div>
        <div class="mb-3">
          <label for="{{ form.comentarios_profesor.id_for_label }}" class="form-label">Comentarios del profesor:</label>
          {{ form.comentarios_profesor }}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-save mr-2"></i> Guardar Calificación y Comentarios
          </button>
        </div>
      </form>
    </div>

    <style>
      .card {
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }

      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }

      .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }

      .form-label {
        font-weight: bold;
      }

      h2 {
        color: #28a745;
      }

      .fas {
        margin-right: 0.5rem;
      }
    </style>
  </div>
{% endblock %}
