{% extends 'base.html' %}

{% block content %}
  <h2>Detalles de la Entrega</h2>
  <p>Estudiante: {{ entrega.estudiante.first_name }} {{ entrega.estudiante.last_name }}</p>
  <p>Fecha de entrega: {{ entrega.fecha_entrega }}</p>
  <p>Comentarios: {{ entrega.comentarios }}</p>
  {% if entrega.archivos_adjuntos %}
    <p>Archivos Adjuntos: <a href="{{ entrega.archivos_adjuntos.url }}" target="_blank">Ver Archivo Adjunto</a></p>
  {% else %}
    <p>No se adjuntaron archivos.</p>
  {% endif %}

  <form method="post" action="{% url 'detalle_entrega' entrega_id=entrega.id %}">
    {% csrf_token %}
    <div>{{ form.calificacion.label_tag }} {{ form.calificacion }}</div>
    <button type="submit">Guardar Calificación</button>
  </form>
{% endblock %}
