{% extends 'base.html' %}
{% block content %}
<!-- Este es como el home o la seccion principal -->
<main>
    <section>
        <h1>Bienvenido</h1>
    </section>
</main>

<main>

    <section>
        <h1>
            Capacitaciones
        </h1>
        <p>
            La capacitación en psicología en el entorno academico busca mejorar el bienestar emocional y la productividad. Los objetivos pueden incluir el fortalecimiento de la inteligencia emocional y el liderazgo, lo que beneficia a individuos y organizaciones.
        </p>
        
    </section>

</main>

<main>

    <section>
        <h2>
            Objetivo:
        </h2>
        <p>
            Adquirir una comprensión más profunda de la psicología y aplicar estrategias para mejorar el bienestar emocional de los aprendices en el entorno academico a través de cursos de desarrollo en psicología que se daran en a traves de conferencias.
        </p>
    </section>

</main>


{% endblock %}