{% extends 'base.html' %}

{% block content %}
  <h1>Enviar Tarea - {{ task.title }}</h1>
  <form method="post" enctype="multipart/form-data" action="{% url 'submit_task' task_id=task.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar Tarea</button>
  </form>

  {% if entrega %}
    {{ entrega }}  <!-- Puedes agregar esto para depurar -->
    {% if not entrega.confirmada %}
      <form method="post" action="{% url 'submit_task' task_id=task.id %}">
        {% csrf_token %}
        {{ form.as_hidden }}
        <input type="hidden" name="confirmar_entrega" value="True">
        <button type="submit">Confirmar Entrega</button>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
