{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-4">Detalles de la tarea:</h1>
  <h2>{{ task.title }}</h2>
  <p>{{ task.description }}</p>
  
  <div class="mt-3">
    <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Editar Tarea</a>
    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger">Eliminar Tarea</a>
    <a href="{% url 'submit_task' task_id=task.id %}" class="btn btn-success">Realizar Entrega</a>
    <a href="{% url 'ver_entregas_profesor' task_id=task.id %}" class="btn btn-info">Ver Entregas de Estudiantes</a>
  </div>

  <p class="mt-3">Fecha de finalización: {{ task.datecompleted|date:"Y-m-d" }}</p>
  <p>Hora de finalización: {{ task.datecompleted|time:"H:i:s" }}</p>
</div>
{% endblock %}
