{% extends 'base.html' %}

{% block content %}
    <h1>Detalles de la tarea:</h1>
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    <a href="{% url 'task_update' task.pk %}">Editar Tarea</a>
    <a href="{% url 'delete_task' task.pk %}">Eliminar Tarea</a>
    <a href="{% url 'submit_task' task.pk %}">Enviar Tarea</a>

    <p>Fecha de finalización: {{ task.datecompleted|date:"Y-m-d" }}</p>
    <p>Hora de finalización: {{ task.datecompleted|time:"H:i:s" }}</p>

    <h2>Entregas:</h2>
    <ul>
        {% for entrega in entregas %}
            <li>{{ entrega.estudiante.username }} {% if entrega.entregada %}(Entregada) {% if entrega.con_retardo %}(Con retraso){% endif %}{% else %}(No entregada){% endif %}</li>
        {% endfor %}
    </ul>

    <h2>Estudiantes que entregaron:</h2>
    <ul>
        {% for estudiante in estudiantes_entregaron %}
            <li>{{ estudiante.username }}</li>
        {% endfor %}
    </ul>

    <h2>Estudiantes que no entregaron:</h2>
    <ul>
        {% for estudiante in estudiantes_no_entregaron %}
            <li>{{ estudiante.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}
