{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4 rounded" style="max-width: 500px;">
        <h1 class="h4 mb-4 text-danger text-center" style="font-family: 'Roboto', sans-serif;">Confirmar Eliminación de Tarea</h1>
        <p class="lead text-center">¿Estás seguro de que deseas eliminar la tarea "{{ task.title }}"?</p>

        <form method="post" action="{% url 'delete_task' task.id %}">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
            </div>
        </form>

        <a href="{% url 'task_detail' task.pk %}" class="btn btn-secondary btn-block mt-3"><i class="fas fa-times"></i> Cancelar</a>
    </div>
</div>

<style>
    .card {
        margin: 0 auto;
        background-color: #f8f9fa; /* Color de fondo */
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #c82333;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #5a6268;
    }
</style>

{% endblock %}
