{% extends 'base.html' %}

{% block content %}
    <h1>Detalles de la tarea:</h1>
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    <a href="{% url 'task_update' task.pk %}">Editar Tarea</a>
    <a href="{% url 'delete_task' task.pk %}">Eliminar Tarea</a>
    <a href="{% url 'submit_task' task.pk %}">Enviar Tarea</a>
    <a href="{% url 'ver_entregas_profesor' task_id=task.id %}">Ver Entregas de Estudiantes</a>


    <p>Fecha de finalización: {{ task.datecompleted|date:"Y-m-d" }}</p>
    <p>Hora de finalización: {{ task.datecompleted|time:"H:i:s" }}</p>


<h3>Entregas:</h3>
<ul>
  {% for entrega in entregas %}
    <li>
      Estudiante: {{ entrega.estudiante.username }} |
      Entregada: {{ entrega.entregada }} |
      Confirmada: {{ entrega.confirmada }} | 
      Fecha de entrega: {{ entrega.fecha_entrega }}
      {% if not entrega.confirmada %}
        <form method="post" action="{% url 'confirmar_entrega' entrega.id %}">
          {% csrf_token %}
          <input type="submit" value="Confirmar entrega">
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h3>Estudiantes que entregaron:</h3>
<ul>
  {% for estudiante in estudiantes_entregaron %}
    <li>{{ estudiante.username }}</li>
  {% endfor %}
</ul>

<h3>Estudiantes que no entregaron:</h3>
<ul>
  {% for estudiante in estudiantes_no_entregaron %}
    <li>{{ estudiante.username }}</li>
  {% endfor %}
</ul>



{% endblock %}
